{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    // enforces no irregular whitespace
    "no-irregular-whitespace": [
      "error",
      {
        "skipStrings": true
      }
    ],
    // enforces spacing after comment symbol
    "spaced-comment": "error",
    // enforces spacing after semicolons and disallows spacing before semicolons
    "semi-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    // enforces the absence of newlines at the end of non-empty files
    "eol-last": [
      "error",
      "never"
    ],
    // enforces no multiple empty lines
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxEOF": 0
      }
    ],
    // enforces the use of single quotes
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": false
      }
    ],
    // allow useless escape characters
    "no-useless-escape": "off",
    // allow case declarations
    "no-case-declarations": "off"
  }
}